# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.gitignore
.settings
.metadata
.project
.classpath
.checkstyle
bin
target
.pmd
.ruleset
rebel.xml
rebel-remote.xml
jrebelJar
ruleset.xml
.springBeans
eclipsebin
.eclipse-pmd
.buildpath
.externalToolBuilders

.class
*.zip
*.jar
*.gz
*.bak
*.box
.idea
!utils/plugins/idea/.idea/
*.iml
*.ipr
.DS_Store
.vlt*
*.swp
*.swo
*~
*.orig

classes
testclasses


.sonar
.gradle
.vagrant
*.log

node_modules
bower_components
dist
out
build

